# fly.toml app configuration file generated for dogbox on 2025-11-06T20:50:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dogbox'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.headers]
    "Cache-Control" = "no-cache, no-store, must-revalidate"
    "Pragma" = "no-cache"
    "Expires" = "0"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
